*{
    margin: 0;
    padding: 0;
    background-color: rgb(174, 255, 174);

}
#declareform{
    max-width: 60vw;
    margin:auto;
    background-color: rgb(255, 255, 255);
    padding:40px;
    margin-top:30vh;
    border:solid 5px rgb(88, 233, 131);
}
#declareform .declareform div{
    display: flex;
    background-color: rgb(255, 255, 255);

}
#declareform .declareform h1{
    background-color: rgb(255, 255, 255);

}
#declareform .declareform{
    max-width: 70%;
    margin: auto;
    background-color: rgb(255, 255, 255);

}
#declareform .declareform div span{
    font-size:x-large;
    background-color: rgb(255, 255, 255);

}
#declareform .declareform .img img{
    align-items: center;
    margin: 0% 25%;
    background-color: rgb(255, 255, 255);

}