*{
    margin: 0;
    padding: 0;
    background-color: rgb(174, 255, 174);
}
#declareform{
    max-width: 60vw;
    margin:auto;
    background-color: rgb(255, 255, 255);
    padding:40px;
    margin-top:30vh;
    border:solid 5px rgb(88, 233, 131);
}
#declareform .declareform{
    max-width: 70%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
#declareform .declareform .img img{
    align-items: center;
    margin: 0% 25%;
    background-color: rgb(255, 255, 255);
}
#declareform .declareform div{
    display: flex;
    background-color: rgb(255, 255, 255);
}
#declareform .declareform .winteam h1{
    background-color: rgb(255, 255, 255);
}
#declareform .declareform .winteam h1 span{
    font-size: x-large;
    background-color: rgb(255, 255, 255);
}
#declareform .declareform .winTeamName{
    display: block;
    width:50vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
#playbutton .playbutton{
    align-items: center;
    font-size:large;
    margin: 10% 30%;
    background-color: rgb(37, 231, 95);
    color: rgb(0,0,0);
    border-radius: 5%;
    padding:10px;
}
