* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
fieldset {
    border: none;
}
header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgb(38, 163, 38);
    color: white;
    padding: 0 20px;
    justify-content: center;
}
header img {
    width: 30px;
}
header h4 {
    margin-left: 10px;
}
#cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 87vh;
    background-color: rgb(238, 238, 238);
}
#mainbox {
    width: 300px;
    padding: 20px;
    border: 1px solid rgb(38, 163, 38);
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
/* #team,#overs {
    margin-bottom: 20px;
} */
#visitorteam,#maxOver{
    margin-bottom: 20px;
}
#overs p {
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(38, 163, 38);
}
input[type="text"],input[type="number"],input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#team p {
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(38, 163, 38);
}
input[type="submit"] {
    background-color: rgb(38, 163, 38);
    color: white;
    border: none;
}
input[type="submit"]:hover {
    background-color: rgb(17, 116, 17);
}